




/* Стили для шапки страницы */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Стили для секции "О нас" */
#about {
    background-color: #f5f5f5;
    padding: 20px;
}

/* Стили для секции "Услуги" */
#services ul {
    list-style-type: none;
}

#services li {
    margin-bottom: 20px;
}

/* Стили для секции "Контакты" */
#contact {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Стили для подвала страницы */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
